.slides .hide {
  display: none;
  overflow: hidden; }

.slides .title {
  text-transform: capitalize; }

.slides .ti1-5 {
  text-indent: 1.5em; }

.slides .tl {
  text-align: left; }

.slides .ti2 {
  text-indent: 2em; }

.slides .pd200 {
  padding-left: 200px; }

.slides .home-container .title {
  text-transform: capitalize; }

.slides .home-container .sub-title {
  font-size: 35px;
  margin-top: 25px; }
  .slides .home-container .sub-title .author {
    position: relative;
    left: 360px; }

.slides .section-summary {
  width: 750px !important;
  text-align: left; }
  .slides .section-summary .summary-title {
    padding-left: 150px;
    font-size: 45px;
    margin-bottom: 20px; }

.slides .demand-analysis .demand-detail {
  text-align: left !important; }
  .slides .demand-analysis .demand-detail .item {
    margin-bottom: 25px; }

.slides .demand-tec .demand-detail {
  text-align: left; }

.slides .project-construct .img-wrap {
  background-color: #fff;
  height: 600px;
  overflow-y: scroll; }

.slides .code-style-detail {
  text-align: left; }
