
.slides {

    //global style

    .hide{
        display: none;
        overflow: hidden;
    }
    .title {
        text-transform: capitalize;
    }

    .ti1-5{
        text-indent: 1.5em;
    }

    .tl{
        text-align: left;
    }

    .ti2{
        text-indent: 2em;
    }

    .pd200{
        padding-left: 200px;
    }

    // an section
    .home-container {
        .title {
            text-transform: capitalize;
        }

        .sub-title {
            font-size: 35px;
            margin-top: 25px;

            .author {
                position: relative;
                left: 360px;
            }
        }
    }

    // an section
    .section-summary{
        width: 750px !important;
        text-align: left;
        .summary-title{
            padding-left: 150px;
            font-size: 45px;
            margin-bottom: 20px;
        }
    }

    // an section
    .demand-analysis{
        .demand-detail{
            text-align: left !important;
            .item{
                margin-bottom: 25px;
            }
        }
    }

    //an section
    .demand-tec{
        .demand-detail{
            text-align: left;
        }
    }

    // an section
    .project-construct{
        .img-wrap{
            background-color: #fff;
            height: 600px;
            overflow-y: scroll;

            img{

            }
        }
    }

    // an section
    .code-style{
        &-detail{
            text-align: left;
        }
    }

}
